/* 
-  FOR DIFFERENT COLORS: 

   (1) You can use the 147 CSS colors: http://www.colors.commutercreative.com/grid/
   (2) ... or you can use hexidecimal color codes: http://html-color-codes.info/   
    .content u
    background-color: LemonChiffon !important;
*/ 

u {
    color: #81ec80;
}

i {
    color: #85c2f4;
    font-size: 100%;
}

b {
    color: #00bfff;
    font-weight: bold;
}

#144a74

h {
    color: #144a74;
    font-weight: bold;
}

/* RC: HIDE RELATED CONTENT IF IT'S A SEARCH NODE THAT RETURNS NO RESULTS per @blank */
div[class*="WidgetPanel-module_container"]:has(
div[class*="Message-module_subtle"][class*="Message-module_smaller"]
) {
display: none !important;
}

html:not(.mobile) .NodeAsListElement-module_el__Ej7SZ.NodeAsListElement-module_isTuple__MMJU5>.NodeAsListElement-module_wrapper__a1g94>.NodeAsListElement-module_main__wdQrJ {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.isDarkMode div#floatingTourTemplateChildrenContainer {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #3b3b3b;
}

div#floatingTourTemplateChildrenContainer {
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d8d6dd;
}
